@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Open+Sans:wght@300;400;500;600;700&family=Signika:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-white: #ffffff;
  --clr-black: #202020;
  --clr-grey: #c4c4c4;
  --clr-grey-2: #8f8f8f;
}

body {
  margin: 0;
  background: #eee;
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ------------------------------------------------------ */
/* -- NAVIGATION -- */

nav {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  align-items: center;
}

.nav__brand {
  display: flex;
  align-items: center;
}

.nav__brand img {
  max-width: 125px;
  margin-right: 10px;
  height: auto;
}

.nav__brand h1 {
  color: var(--clr-black);
  font-family: "Signika";
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: -1px;
}
.nav-menu {
  display: flex;
}
.nav__links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav__links li {
  margin: 0 10px;
}

.nav__links li a {
  text-decoration: none;
  color: var(--clr-grey-2);
  font-weight: 600;
}

.nav__links li a:hover {
  color: var(--clr-black);
}

.nav__connect {
  width: 175px;
  height: 50px;
  margin: 0 3px;
  background-color: rgb(12, 73, 163);
  color: var(--clr-white);
  border: none;
  border-radius: 2rem;
  font-family: "Open Sans";
  font-size: 1.1em;
  font-weight: 600;
  cursor: pointer;
  transition: all 250ms ease;
}

.nav__connect:hover {
  background-color: rgb(12, 85, 191);
}

/* ------------------------------------------------------ */
/* -- HEADER -- */

header {
  background: radial-gradient(
    263px at 100.2% 3%,
    rgb(12, 85, 151) 31.1%,
    rgb(205, 181, 93) 36.4%,
    rgb(244, 102, 90) 50.9%,
    rgb(199, 206, 187) 60.7%,
    rgb(249, 140, 69) 72.5%,
    rgb(12, 73, 163) 72.6%
  );
  height: 80vh;
}

.header__subtitle,
.header__title {
  color: white;
  max-width: 450px;
}

.header__subtitle {
  margin: 0 0 25px 75px;
  padding-top: 100px;
  font-family: "Open Sans";
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
}

.header__title {
  margin: 0 0 25px 75px;
  font-family: "Merriweather";
  font-size: clamp(2rem, 5vw, 2.38rem);
  font-weight: 800;
}

.header-icons {
  display: flex;
  margin: 0 0 25px 75px;
}
.header-icons div {
  margin-right: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-icons img {
  width: 55px;
  margin-bottom: 5px;
}
.header-icons p {
  color: white;
  text-transform: uppercase;
}

/* ------------------------------------------------------ */
/* -- CARDS -- */

.cards__section {
  max-width: 1200px;
  margin: 0 auto 50px;
  padding: 0 20px;
}

.cards__section h2 {
  margin-top: 50px;

  font-family: "Merriweather";
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 800;

  text-align: center;
}

.cards__section p {
  margin: 10px auto 25px;
  text-align: center;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  width: 90%;
  max-width: 800px;
  height: 60px;
  border: 1px solid var(--clr-black);
  margin: 25px auto;
  padding-left: 25px;
  position: relative;
  transition: all 250ms ease;
}

.card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  text-align: left;
}

.card__info h3 {
  font-family: "Merriweather";
  font-size: clamp(1rem, 3vw, 1.25rem);
  font-weight: 900;
}

.card__info p {
  font-family: "Merriweather";
  font-size: 1.15rem;
  font-weight: 300;
  margin: 0;
}

.card__info p small {
  font-size: clamp(0.8rem, 2vw, 0.9rem);
}

.card__info p small span {
  font-weight: 700;
}

.card__info p strong {
  font-family: "Merriweather";
  font-size: clamp(1.25rem, 3vw, 1.8rem);
  font-weight: 700;
  margin: 0;
}

.card__button {
  width: 125px;
  height: 100%;
  background-color: rgb(12, 85, 191);
  color: var(--clr-white);
  margin-left: auto;
  border: none;

  font-family: "Open Sans";
  font-size: 1em;
  font-weight: 600;

  cursor: pointer;
  transition: all 250ms ease;
}

.card__button:hover {
  background-color: #045de9;
}

.card__button:hover .card__button {
  border-color: var(--clr-grey-2);
}

/* ------------------------------------------------------ */
/* -- MEDIA QUERIES -- */

@media screen and (max-width: 1200px) {
  nav {
    grid-template-columns: repeat(2, 1fr);
  }

  .nav__brand {
    grid-column: 1;
  }

  .nav__links {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .nav__brand {
    padding: 30px 50px;
  }

  .nav__connect {
    margin: 0 50px 0 auto;
  }
}
